.services {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transform: translateY(20px);

  &.animate-in {
    opacity: 1;
    transform: translateY(0);
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    @media (max-width: 1300px) {
      justify-content: center;
    }
  }

  .card {
    flex-basis: 20rem;
    .icon {
      display: flex;
      align-items: center;
      h3 {
        margin-left: 1rem;
        background: white;
        color: black;
        padding: 1rem;
      }
    }
  }
}
